
      <footer class="footer">
        <div class="container-fluid">
          <nav>
            <ul>

              <li>
                <a href="https://appseed.us/admin-dashboards/django-dashboard-nowui" >
                  Django Dashboard NowUI
                </a>
              </li>

            </ul>
          </nav>
          <div class="copyright" id="copyright">
            &copy; <a target="_blank" href="https://www.creative-tim.com">Creative Tim</a>  
             - coded by <a target="_blank" href="https://appseed.us">AppSeed</a>
          </div>
        </div>
      </footer>

