
    <div class="sidebar" data-color="orange">
      <!-- Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow" -->
      <div class="logo">
        <a href="https://appseed.us/admin-dashboards/django-dashboard-nowui" 
           target="_blank" class="simple-text logo-mini">
          PRD
        </a>
        <a href="https://appseed.us/admin-dashboards/django-dashboard-nowui" 
           target="_blank" class="simple-text logo-normal">
          Product
        </a>
      </div>
      <div class="sidebar-wrapper" id="sidebar-wrapper">

        <ul class="nav">

          {% if user.is_authenticated %}
          <li class="{% if 'index' in segment %} active {% endif %}">
            <a href="/">
              <i class="now-ui-icons design_app"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="{% if 'index' in segment %} active {% endif %}">
            <a href="/icons.html">
              <i class="now-ui-icons education_atom"></i>
              <p>Icons</p>
            </a>
          </li>
          <li class="{% if 'index' in segment %} active {% endif %}">
            <a href="/notifications.html">
              <i class="now-ui-icons ui-1_bell-53"></i>
              <p>Notifications</p>
            </a>
          </li>
          <li class="{% if 'index' in segment %} active {% endif %}">
            <a href="/user.html">
              <i class="now-ui-icons users_single-02"></i>
              <p>User Profile</p>
            </a>
          </li>
          <li class="{% if 'index' in segment %} active {% endif %}">
            <a href="/tables.html">
              <i class="now-ui-icons design_bullet-list-67"></i>
              <p>Table List</p>
            </a>
          </li>
          <li class="{% if 'index' in segment %} active {% endif %}">
            <a href="/typography.html">
              <i class="now-ui-icons text_caps-small"></i>
              <p>Typography</p>
            </a>
          </li>
          <li>
            <a href="{% url 'logout' %}" >
              <i class="now-ui-icons media-1_button-power"></i>
              <p>Logout</p>
            </a>
          </li>

          <li class="active-pro">
            <a target="_blank" href="https://appseed.us/admin-dashboards/django-dashboard-nowui-pro" >
              <i class="now-ui-icons objects_spaceship"></i>
              <p>PRO Version</p>
            </a>
          </li>
          {% else %}
          <li class="active">
            <a target="_blank" href="https://appseed.us/admin-dashboards/django-dashboard-nowui-pro" >
              <i class="now-ui-icons objects_spaceship"></i>
              <p>PRO Version</p>
            </a>
          </li>
          {% endif %}

        </ul>
      </div>
    </div>

