{% extends 'layouts/base.html' %}

{% block title %} Register {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header">
                <h5 class="title">Register</h5>

                    {% if msg %}
                      <label>{{ msg | safe }}</label>
                    {% else %}
                      <label>
                      Add your credentials or <a href={% url 'login' %} >authenticate</a> with an existing account.
                      </label>
                    {% endif %}

              </div>
              <div class="card-body">

                {% if success %}

                    <p class="text-center">
                    Please <a href={% url 'login' %} class="text-black text-small">authenticate</a> using the new account.
                    </p>  

                {% else %}

                    <form role="form" method="post" action="">

                        {% csrf_token %}

                        <div class="row">

                            <div class="col-md-1 pr-1"></div>

                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Username</label>
                                </div>
                            </div>

                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    {{ form.username }}
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <span class="text-error">{{ form.username.errors }}</span>
                        </div>
                        
                        <div class="row">

                            <div class="col-md-1 pr-1"></div>

                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>eMail</label>
                                </div>
                            </div>

                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    {{ form.email }}
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <span class="text-error">{{ form.email.errors }}</span>
                        </div>

                        <div class="row">

                            <div class="col-md-1 pr-1"></div>

                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Password</label>
                                </div>
                            </div>

                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    {{ form.password1 }}
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <span class="text-error">{{ form.password1.errors }}</span>
                        </div>

                        <div class="row">

                            <div class="col-md-1 pr-1"></div>

                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Password Check</label>
                                </div>
                            </div>

                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    {{ form.password2 }}
                                </div>
                            </div>

                        </div>                    
                        <div class="row">
                            <span class="text-error">{{ form.password2.errors }}</span>
                        </div>

                        <div class="row">
                            <div class="col-md-1 pr-1"></div>

                            <div class="col-md-2 pr-1">
                                <button type="submit" class="btn btn-fill btn-primary">Register</button> 
                            </div>

                        </div>

                        </form>
                    </div>

                {% endif %}

              </div>
              <div class="card-footer">
                Have already an account? Please <a href="{% url 'login' %}" >login</a>
              </div>

          </div>

        </div>
      </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
